<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OOP_Lab_II.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OOP_Lab_II.Properties.Settings.db_userConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db_user.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OOP_Lab_II.Properties.Settings>
            <setting name="Difficulty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Difficulty_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Difficulty_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shapes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>0</value>
            </setting>
        </OOP_Lab_II.Properties.Settings>
    </userSettings>
</configuration>